.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 420px) {
    .center-div{
        max-width: 80vw;
      }
    }