.width-div{
    width: 25rem;
}

.space-container{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 420px) {
    .width-div, .delete-button-width, .edit-button-width, .back-button-width{
        max-width: 80vw;
      }
    }
