.vh-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( to bottom, rgb(30, 67, 134),white 80%), linear-gradient( to bottom,rgb(30, 64, 132) ,white 80%), linear-gradient( to bottom, rgb(30, 66, 133),white 80%) , linear-gradient( to bottom, rgb(29, 68, 135),white 80%), linear-gradient( to bottom, rgb(29, 70, 136),white 80%), linear-gradient( to bottom, rgb(28, 74, 139),white 80%), linear-gradient( to top, rgb(5, 172, 207),white 80%) , linear-gradient( to top, rgb(6, 171, 206),white 80%), linear-gradient( to top, rgb(6, 169, 205),white 80%), linear-gradient( to top, rgb(7, 167, 203),white 80%), linear-gradient( to top, rgb(7, 166, 202),white 80%), linear-gradient( to top, rgb(7, 164, 201),white 80%);
    background-size: 13px 300px, 13px 500px, 13px 400px, 13px 450px, 13px 250px, 13px 50px, 13px 300px, 13px 500px, 13px 400px, 13px 450px, 13px 250px, 13px 50px;
    background-position: 10px 0, 35px 0, 60px 0, 85px 0, 110px 0, 135px 0, 99% 100%, 97.5% 100%, 96% 100%, 94.5% 100%, 93% 100%, 91.5% 100%;
    background-repeat: no-repeat;
}

@media (max-width: 1000px) {
  
    .vh-container {
        background-position: 1% 0, 4% 0, 7% 0, 10% 0, 13% 0, 16% 0, 99% 100%, 96% 100%, 93% 100%, 90% 100%, 87% 100%, 84% 100%;
    }
  
  }

  @media (max-width: 550px) {
  
    .vh-container {
        background-image: none;

    }
  
  }